*.acn
*.acr
*.alg
*.aux
*.bbl
*.blg
*.dvi
*.fdb_latexmk
*.glg
*.glo
*.gls
*.idx
*.ilg
*.ind
*.ist
*.lof
*.log
*.lot
*.maf
*.mtc
*.mtc0
*.nav
*.nlo
*.out
*.pdfsync
*.ps
*.snm
*.synctex.gz
*.toc
*.vrb
*.xdy
*.tdo
doc/twisted_simon_says.pdf
doc/twisted_simon_says.bcf
doc/twisted_simon_says.lol
doc/twisted_simon_says.run.xml
doc/twisted_simon_says.pdf
doc/twisted_simon_says.pdf
